<link href="../lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
<link href="../css/style.css" rel="stylesheet">

<ion-view view-title="View" hide-nav-bar="true">
  <ion-content class="padding">
    <br>
    <br>
    <button ng-click="goBack()" class="button button-large icon-left ion-chevron-left button-clear button-light">Back</button>
    <button ng-hide="editable" ng-click="editCard()" class="button button-large icon-left ion-edit button-clear button-light">Edit</button>
    <button ng-show="editable" ng-click="editCard()" class="button button-large icon-left ion-close button-clear button-light">Cancel</button>
    <button ng-show="editable" class="button button-large icon-left ion-checkmark button-clear button-light" ng-click="updateCard(selectedCard)">Save</button>



    <br>
    <div ng-hide="editable" class="list card">
      <div class="item item-body">
        <h2>{{ selectedCard.title }} </h2>
        <hr>
        <h2>Situation: </h2><h2>{{ selectedCard.situation }}</h2>
        <h2>Task: </h2><h2>{{ selectedCard.task }}</h2>
        <h2>Action: </h2><h2>{{ selectedCard.aktion }}</h2>
        <h2>Result: </h2><h2>{{ selectedCard.result }}</h2>
      </div>
    </div>

    <form ng-show="editable" class="list list-inset">
        <textarea class="form-control" ng-model="selectedCard.title" type="text" ></textarea>
        <h4>Situation: </h4><textarea class="form-control" ng-model="selectedCard.situation" type="text"></textarea>
        <h4>Task: </h4>
        <textarea class="form-control" ng-model="selectedCard.task" type="text"></textarea>
        <h4>Action: </h4>
        <textarea class="form-control" ng-model="selectedCard.aktion" type="text"></textarea>
        <h4>Result: </h4>
        <textarea class="form-control" ng-model="selectedCard.result" type="text"></textarea>
    </form>


  </ion-content>
</ion-view>
