<link href="../lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
<link href="../css/style.css" rel="stylesheet">


<ion-view view-title="New" hide-nav-bar="true">
  <ion-content>
    <div class="header">
      <h1> Add Card </h1>
    </div>
    <form >
      <div class="list list-inset">

          <textarea class="form-control" placeholder="Title" type="text" ng-model="card.title"></textarea>
          <textarea class="form-control" placeholder="Situation" type="text" ng-model="card.situation"></textarea>
          <textarea class="form-control" placeholder="Task" type="text" ng-model="card.task"></textarea>
          <textarea class="form-control" placeholder="Action" type="text" ng-model="card.aktion"></textarea>
          <textarea class="form-control" placeholder="Result" type="text" ng-model="card.result"></textarea>

      </div>
      <button class="button button-positive" ng-click="createCard(card)">Save</button>

    </form>
  </ion-content>
</ion-view>
