<ion-view view-title="View" hide-nav-bar="true">


  <ion-content class="padding">
    <button class="button back-button buttons header-item" ng-click="goBack()">
        <i class="icon ion-ios-arrow-back"> Back</i>
    </button>

    <br>
        <div class="list card">
          <div class="item item-divider">
            {{ selectedCard.title }} Hello
          </div>

          <div class="item item-body">
            <p>
              {{ selectedCard.situation }}
            </p>
            <p>
              {{ selectedCard.task }}
            </p>
            <p>
              {{ selectedCard.action }}
            </p>
            <p>
              {{ selectedCard.result }}
            </p>
          </div>
        </div>
  </ion-content>
</ion-view>
