<ion-view view-title="View" hide-nav-bar="true">


  <ion-content class="padding">
    <button class="button back-button buttons header-item" ng-click="goBack()">
        <i class="icon ion-ios-arrow-back"> Back</i>
    </button>

    <br>
        <div class="list card">
          <div class="item item-body">
            <h2>{{ selectedCard.title }} </h2>
            <hr>
            <h2>Situation: </h2><p>{{ selectedCard.situation }}</p>
            <h2>Task: </h2><p>{{ selectedCard.task }}</p>
            <h2>Action: </h2><p>{{ selectedCard.aktion }}</p>
            <h2>Result: </h2><p>{{ selectedCard.result }}</p>
          </div>
        </div>
  </ion-content>
</ion-view>
