<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <br>
    <div class="header">
      <h2> Dashboard </h2>
    </div>
    <div class="jumbotron login">
      <div class="container">
        <form class="list list-inset" ng-submit="submitRegistration(registrationForm)" role="form" ng-init="registrationForm = {}">
          <div ng-show="!signedUp" class="item item-input">
            <input class="form-control" placeholder="Email" type="email" name="email" ng-model="registrationForm.email" required="required" class="form-control"/>
          </div>

          <div ng-show="!signedUp" class="item item-input">
            <input class="form-control" placeholder="Password" type="password" name="password" ng-model="registrationForm.password" required="required" class="form-control"/>
          </div>

          <div ng-show="!signedUp" class="item item-input">
            <input class="form-control" placeholder="Password Confirmation" type="password" name="password_confirmation" ng-model="registrationForm.password_confirmation" required="required" class="form-control"/>
          </div>

          <button type="submit" class="button button-full button-balanced" ng-show="!signedUp" ng-click="signUp()" class="btn btn-primary btn-lg">Register</button>
          <button ng-show="signedUp" class="button button-full button-balanced" ng-click="submitLogin(registrationForm)">Login</button>
        </form>
      </div>
    </div>
  </ion-content>
</ion-view>
